#settings, #model{
background-color: #cecece;
border: solid 1px black;
padding: 10px;
padding-bottom: 0;
margin-bottom: 20px;
}
.MathJax_Display{
color: black;
}
h5{
color: black;
}
#accounts{
background-color: #cecece;
border: solid 1px black;
margin-bottom: 20px;
height:400px; 
overflow-y: scroll;
overflow-x: scroll;
}
#equilibrium{
position: relative;
top: -120px;
}
.shiny-input-container{
position: relative;
left: 20px;
}

#settings > .row{
position: relative;
left: -20px;
}
